#root {
  flex-grow: 1;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  
}

.navbar {
  display:flex ;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  background-color:rgb(215, 151, 73);
  padding-left: 40px;
  padding-right: 40px;
  list-style: none;
  width: 100%;
  height: 60px;
  position: static;
}

.register {
  margin: 30%;
}

.inputfield {
  padding: 1rem;
  display: block;
  border: 1px solid navy;
  width: 15rem;
  margin: 1rem;
}

.actionbutton {
  margin: 1rem;
  width: 10rem;
  padding: 1rem;
  background-color: lightgray; 
  border: 1px solid;
  cursor: pointer;
}

.posts {
  display: flex;
  flex-direction: column;

}